<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 {% load static %}
	<link rel="stylesheet" href="{% static 'restful_user/css/style.css' %}">
	<script src="{% static 'restful_user/js/js.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
</head>

<body>
	<div id="wrapper">
		All Users:
		 {% if messages %}
		<div id="err">
			<ul>
				{% for message in messages %}
				<li>
					<p style="color:red">{{ message }}</p>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<table border="1" align="center">
			<tr>
				<th>id</th>
				<th>First Name</th>
				<th>Email</th>
				<th>Created</th>
				<th>Actions</th>
			</tr>
		{% for user in user_data %}
			<tr>
				<td>{{user.id}}</td>
				<td>{{user.first_name}} {{user.last_name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.created_at}}</td>
				<td>
					<a href="users/{{user.id}}">Show</a>
					<a href="users/{{user.id}}/edit">Edit</a>
					<a href="users/{{user.id}}/delete">Delete</a>
				</th>
			</tr>
		{% endfor%}
		<p align="center"><a href="users/new">Add a new user</a></p>
		</table>
	</div>
</body>

</html>